<head>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80);">
  <div class="container">
    <h1><%= @restaurant.name %></h1>
    <h3><%= @restaurant.address %></h3>
  </div>
</div>

</head>

<div class= "review-items">
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.rating %> -
        <%= review.content %>
      </li>
    <% end %>
  </ul>
</div>


<div class= 'page-action-links'>
  <li><%= link_to "Like this restaurant? Leave a review", new_restaurant_review_path(@restaurant) %></li>
  <li><%= link_to "Back to home", restaurants_path(@restaurant) %></li>
</div>
