<div class= "header">
  <h2>Leave a review for <strong><%= @restaurant.name %></strong></h2>
</div>

<div class="form-container">
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, class: "col-m-4 control-label" %>
    <%= f.input :rating, class: "form-control" %>
    <%= f.submit %>
  <% end %>
</div>

<div class= "page-action-links">
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
